:root{
    --background-image: url("leaves.jpg");
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: 'Norse';
  src:  url('norse-bold-webfont.woff2') format('woff2'),
        url('norse-bold-webfont.woff') format('woff');
}

body {
  line-height: 1.5;
  height: 100vh;
}

input, button, textarea, select {
  font: inherit;
}

.wrapper{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width:100%;
  height:100%;
}

.left-background{
  width:30%;
  height:100%;
  background-image: var(--background-image);
  background-size: cover;
  position:relative;
}

.title{
  font-family: 'Norse', Arial, Helvetica, sans-serif;
  font-size: 80px;
  text-align: center;
  background-color: black;
  width:100%;
  height:125px;
  position: relative;
  top: 20vh;
  color:white;
}

.credit{
  background-color: rgb(13, 128, 170);
  margin-top: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  position: absolute;
  bottom:0px;
  width:100%;
  text-align: center;
}

