:root{
    --background-image: url("leaves.jpg");
    --top-height: 15vh;
    --banner-height: 125px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: 'Norse';
  src:  url('norse-bold-webfont.woff2') format('woff2'),
        url('norse-bold-webfont.woff') format('woff');
}

body {
  line-height: 1.5;
  height: 100vh;
}

input, button, textarea, select {
  font: inherit;
}

.wrapper{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width:100%;
  height:100%;
}

.left-background{
  width:30%;
  height:100%;
  background-image: var(--background-image);
  background-size: cover;
  position:relative;
}

.title-bar{
  background-color: black;
  opacity: 50%;
  width:100%;
  height:125px;
  position: absolute;
  top: var(--top-height);
}

.title-text{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  font-family: 'Norse', Arial, Helvetica, sans-serif;
  font-size: 80px;
  color:white;
  position:absolute;
  width: 100%;
  height:125px;
  top: var(--top-height);
}

.logo{
  width:20%;
  height:80%;
}

.credit{
  background-color: rgb(13, 128, 170);
  margin-top: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  position: absolute;
  bottom:0px;
  width:100%;
  text-align: center;
}

.right-form{
  display: flex;
  flex-direction: column;
  width:100%;
  background-color: rgb(249, 249, 249);
}

.prompt{
  display:flex;
  width: 100%;
  height: calc(var(--top-height) + var(--banner-height));
  justify-content: center;
  align-items: center;
}

.prompt-text{
  padding-left: 75px;
  padding-right:400px;
  margin-top: 60px;
  font-family:'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.prompt-text p:nth-child(3){
  margin-top: 15px;
}

.form-container{
  background-color: rgb(255, 255, 255);
  padding:20px;
}

.form-wrapper{
  display:flex;
  flex-direction: column;
  width: 400px;
}

.row1, .row2, .row3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.label1, .label2{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: grey;
}