:root{
    --background-image: url("leaves.jpg");
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: 'Norse';
  src:  url('norse-bold-webfont.woff2') format('woff2'),
        url('norse-bold-webfont.woff') format('woff');
}

body {
  line-height: 1.5;
  height: 100vh;
}

input, button, textarea, select {
  font: inherit;
}

.wrapper{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width:100%;
  height:100%;
}

.left-background{
  width:30%;
  height:100%;
  background-image: var(--background-image);
  background-size: cover;
  position:relative;
}

.title-bar{
  background-color: black;
  opacity: 50%;
  width:100%;
  height:125px;
  position: absolute;
  top: 20vh;
}

.title-text{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  font-family: 'Norse', Arial, Helvetica, sans-serif;
  font-size: 80px;
  color:white;
  position:absolute;
  width: 100%;
  height:125px;
  top: 20vh;
}

.logo{
  width:20%;
  height:80%;
}

.credit{
  background-color: rgb(13, 128, 170);
  margin-top: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  position: absolute;
  bottom:0px;
  width:100%;
  text-align: center;
}

